@import url(//db.onlinewebfonts.com/c/b9f30d2f67a2115cbb54208678b9ac66?family=Harding+Text+Web+Bold);
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp);
* {
  margin:0;
  padding:0;
}

.home_contain_landing {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-gray-light);

}
.home_contain_landing_mid {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
.home_ctn-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  align-items: center;

}
.home_contain_center_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 600px;
  max-width: 90%;
}
.home_contain_top_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

}
.home_contain_image {
  width: 550px;
  height: 100vh;
  overflow: hidden;
  margin-right: 20px;
}

.home_image {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  transition: transform 10s ease;
}
.home_image:hover {
  transform: scale(1.1);
}
.home_name {
  display: flex;
  font-size: 60px;
  /* font-family: "Harding Text Web Bold"; */
  font-family: Inter;
  font-weight: bold;
  letter-spacing: -0.05em;
  line-height: 0.8;
  text-align: left;
  color: var(--color-black-dark);
  /* text-shadow: 0px 10px 40px black; */
  margin-bottom: 1.5rem;
}

.home_contain_text_typed {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
}

.text_bio {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 30em;
  max-width: 85%;
  height: auto;
  font-family: Inter;
  color: var(--color-black-dark);
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  line-height: 1.5;
}
.text_links {
  color: var(--color-black-dark);
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-decoration-color: var(--color-red-medium);
  text-underline-offset: 0.25em;
}
.text_links:hover {
  color: var(--color-red-medium);
}

.home_contain_button_row {
  display: flex;
  width: 500px;
  max-width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.button_flat {
  margin-top: 5px;
  margin-bottom: 5px;
  width: fit-content;
  align-items: left;
  justify-content: left;
  transition: 0.2s;
  color: var(--color-black-dark);
  font-size: 18px;
  border: 0;
  border-bottom: solid 5px var(--color-red-medium);
  border-color: var(--color-red-medium);
  background: 0;
  display: flex;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: 2px;
  cursor: pointer;
}
.button_flat:hover {
  color: var(--color-red-medium);
  padding-left: 2px;
  padding-right: 2px;
}
.button_flat:after {
  font-family: Inter;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.button_flat:hover:after {
  content: "\2197";
  opacity: 1;
}
.ctn-section-logo {
  width: 100%;
  height: 200px;
  display: block;
  flex-direction: row;
  /* justify-content: flex-start; */
  align-items: center;
  background: var(--color-gray-medium); 
}
.ctn_logo_space {
  width: 40%;
  display: block;
}
.ctn-logos {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}
.logo {
  width: auto;
  height: 100px;
} 
.ctn-section {
  width: 98%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  background-color: var(--color-gray-light);
  padding: 1%;
  display: none;  /* under construction */
}
.ctn-about-mid {
  width: 100%;
  height: auto;
  border-top: 5px solid black;
}
.ctn-section-header {
  font-family: "Harding Text Web Bold";
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 100px;
  letter-spacing: -0.05em;
}
.ctn-content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}
.ctn-project-col-collapsible {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 32.6%;
  box-shadow: 0px 0px 10px 3px var(--color-gray-medium);
  transition-property: transform, background;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  cursor: pointer;
  height: fit-content;
  overflow: hidden;
}
.ctn-project-col-collapsible:hover {
  transform: scale(1.005);
  background: white;
}
.ctn-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.ctn-video {
  width: 100%;
  height: 400px;
}
.ctn-video video {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
}
.text-header {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  padding: 20 20 10 20px;
  text-align: left;
  border: 0;
  cursor: pointer;
  background: inherit;
}

.text-content {
  font-family: Inter;
  font-size: 18px;
  margin: 0 20 20 20px;
  background: var(--color-gray-light);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  background: inherit;

}
.text-footer {
  color: var(--color-gray-medium); 
  font-size: 12px;
}
.social_bar {
  display: flex;
  width: auto;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;

}
.button_social {
  background: transparent;
  border: 0;
}
.social_icon {
  width: 25;
  height: 25; 
  fill: var(--color-black-dark);
  transition: transform 0.2s;
}
.social_icon:hover {
  transform: scale(1.2) translateX(-5px);
  cursor: pointer;
}

.text_typed_1 {
  /* font-weight: bold; */
  animation: typing_1;
}
.text_typed_2 {
  /* font-weight: bold; */
  animation: typing_2;
}
.text_typed_3 {
  /* font-weight: bold; */
  animation: typing_3;
}
.text_static_1, .text_typed_1, .text_typed_2, .text_typed_3 {
  overflow: hidden;
  white-space: nowrap;
  display: inline;
  position: relative;
  font-family: Inter;
  animation-duration: 10s;
  animation-timing-function: steps(30, end);
  animation-delay: 0s;
  animation-iteration-count: infinite;
  color: var(--color-black-light);
}
.cursor {
  color: var(--color-black-light);
  font-family: Inter;
  /* font-weight: 900; */
  display: inline;
  position: relative;
  animation: cursor_blinking infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  margin-left: -0.7em;
}

@keyframes typing_1 {
  0%, 33%, 67%, 100% {
    width: 0;
  }
  5%, 28% {
    width: 8.6em;
  }
}
@keyframes typing_2 {
  0%, 33%, 67%, 100%{
    width: 0;
  }
  38%, 62% {
    width: 6.5em;
  }
}
@keyframes typing_3 {
  0%, 33%, 67%, 100% {
    width: 0;
  }
  72%, 95% {
    width: 7.78em;
  }
}

@keyframes cursor_blinking {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .home_contain_landing {
    justify-content: flex-start;
  }
  .home_contain_landing_mid {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    max-width: 500px;
  }
  .home_contain_image {
    height: 50vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .home_ctn-center {
    width: 95%;
    margin-top: 20px;
    padding-left: 5%;
  }
  .home_name {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .text_static_1, .text_typed_1, .text_typed_2, .text_typed_3 {
    font-size: 18px;
  }
  .text_bio {
    margin-bottom: 20px;
    font-size: 16px;
  }
  .button_flat {
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .home_contain-section {
    align-items: center;
  }
  .ctn-about-mid {
    width: 500px;
    max-width: 98%;
  }
  .ctn-content {
    flex-direction: column;
  }
  .home_content {
    width: 500px;
    max-width: 98%;
    margin: 0;
    margin-bottom: 30px;
  }
  .ctn-img {
    width: 500px;
    max-width: 98%;
    margin:0;
  }
}

