 .u-section-1 {
  background-image: url("images/blue.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 879px;
}

.u-section-1 .u-group-1 {
  background-image: none;
  margin-top: 112px;
  margin-bottom: 60px;
  height: auto;
  min-height: 634px;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-scale: 1;
  line-height: 0.81;
  margin: 341px auto 0 113px;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-scale: 1;
  margin: -20px auto 0 113px;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-scale: 1;
  margin: -38px auto 0 113px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-scale: 1;
  margin: -38px auto 0 113px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-size: 0.875rem;
  background-image: none;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-scale: 1;
  margin: 13px auto 0;
  padding: 8px 35px 9px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-1 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 760px;
}

.u-section-2 .u-image-1 {
  width: 461px;
  height: 461px;
  background-image: url("images/IMG_2582opti.jpg");
  background-position: 50% 50%;
  transition-duration: 1s;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 137px calc(((100% - 1280px) / 2) + 91px) 0 auto;
}

.u-section-2 .u-group-elements-1 {
  width: 631px;
  min-height: 115px;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -267px auto 0 calc(((100% - 1280px) / 2) + 139px);
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  font-weight: 300;
  margin: 37px 0 0 57px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  font-weight: 500;
  margin: -115px 130px 0 57px;
}

.u-section-2 .u-icon-1 {
  width: 41px;
  height: 41px;
  margin: -19px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  font-weight: 300;
  margin: -309px calc(((100% - 1280px) / 2) + 552px) 0 calc(((100% - 1280px) / 2) + 139px);
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 300;
  padding: 0;
}

.u-section-2 .u-group-elements-2 {
  width: 290px;
  min-height: 53px;
  margin: 154px auto 0 calc(((100% - 1280px) / 2) + 139px);
}

.u-section-2 .u-group-elements-3 {
  width: 500px;
  min-height: 61px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -53px auto 0 calc(((100% - 1280px) / 2) + 140px);
}

.u-section-2 .u-icon-2 {
  width: 40px;
  height: 40px;
  margin: 4px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-weight: 500;
  margin: -44px 0 0 56px;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-weight: 300;
  margin: 8px 0 0 56px;
}

.u-section-2 .u-group-elements-4 {
  width: 500px;
  min-height: 86px;
  transition-duration: 0.5s;
  --animation-custom_in-scale: 1;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 13px auto 0 calc(((100% - 1280px) / 2) + 140px);
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 0 56px;
}

.u-section-2 .u-icon-3 {
  width: 41px;
  height: 40px;
  margin: -20px auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-weight: 300;
  margin: -12px 104px 0 56px;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 13px auto 60px calc(((100% - 1280px) / 2) + 197px);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 91px);
  }

  .u-section-2 .u-group-elements-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-2 .u-text-3 {
    font-weight: normal;
    margin-right: calc(((100% - 940px) / 2) + 212px);
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 940px) / 2) + 139px);
  }

  .u-section-2 .u-group-elements-3 {
    margin-left: calc(((100% - 940px) / 2) + 140px);
  }

  .u-section-2 .u-group-elements-4 {
    margin-left: calc(((100% - 940px) / 2) + 140px);
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-btn-2 {
    border-style: none;
    margin-left: calc(((100% - 940px) / 2));
    padding: 10px 23px 12px 22px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 91px);
  }

  .u-section-2 .u-group-elements-1 {
    margin-left: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2) + 42px);
    margin-left: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 720px) / 2) + 89px);
  }

  .u-section-2 .u-group-elements-3 {
    margin-left: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-2 .u-group-elements-4 {
    margin-left: calc(((100% - 720px) / 2) + 140px);
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 79px);
  }

  .u-section-2 .u-group-elements-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-group-elements-3 {
    margin-left: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-2 .u-group-elements-4 {
    margin-left: calc(((100% - 540px) / 2) + 40px);
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 639px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-1 {
    width: 340px;
    margin-top: -146px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-3 {
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-2 {
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-3 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-elements-4 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  transform: translateX(0px) translateY(0px) scale(1.02) rotate(1deg) !important;
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #404040 !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  transform: translateX(0px) translateY(0px) scale(1.02) rotate(1deg) !important;
  border-style: solid !important;
  border-top-width: 1px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-bottom-width: 1px !important;
  border-color: #404040 !important;
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-elements-1,
.u-section-2 .u-group-elements-1:before,
.u-section-2 .u-group-elements-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-elements-1.u-group-elements-1.u-group-elements-1:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-elements-1.u-group-elements-1.u-group-elements-1.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-elements-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-elements-3,
.u-section-2 .u-group-elements-3:before,
.u-section-2 .u-group-elements-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-elements-3.u-group-elements-3.u-group-elements-3:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-elements-3.u-group-elements-3.u-group-elements-3.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-group-elements-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-elements-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-elements-4,
.u-section-2 .u-group-elements-4:before,
.u-section-2 .u-group-elements-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-group-elements-4.u-group-elements-4.u-group-elements-4:hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-group-elements-4.u-group-elements-4.u-group-elements-4.hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-container-layout:hover .u-group-elements-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-group-elements-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-3 .u-sheet-1 {
  min-height: 195px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.25rem;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  border-style: none;
  text-transform: uppercase;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 60px auto 0 301px;
  padding: 14px 32px 15px 30px;
}

.u-section-3 .u-icon-1 {
  margin-right: 10px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px auto 0 618px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px auto 0 717px;
}

.u-section-3 .u-icon-4 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px auto 0 816px;
}

.u-section-3 .u-icon-5 {
  width: 64px;
  height: 64px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -64px auto 60px 915px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    font-weight: normal;
    margin-left: 102px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 556px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 629px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 701px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-btn-1 {
    margin-left: 71px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 419px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 475px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 530px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 586px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-btn-1 {
    margin-left: 45px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 306px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 348px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 389px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 431px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-btn-1 {
    margin-left: 17px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 181px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 208px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 234px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 260px;
  }
}

.u-section-3 .u-btn-1,
.u-section-3 .u-btn-1:before,
.u-section-3 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-2,
.u-section-3 .u-icon-2:before,
.u-section-3 .u-icon-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-2.u-icon-2.u-icon-2.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-3,
.u-section-3 .u-icon-3:before,
.u-section-3 .u-icon-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-3.u-icon-3.u-icon-3.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-4,
.u-section-3 .u-icon-4:before,
.u-section-3 .u-icon-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-4.u-icon-4.u-icon-4.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-5,
.u-section-3 .u-icon-5:before,
.u-section-3 .u-icon-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-icon-5.u-icon-5.u-icon-5:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-icon-5.u-icon-5.u-icon-5.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-icon-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-icon-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}