 .u-section-1 {
  min-height: 762px;
}

.u-section-1 .u-group-1 {
  min-height: 642px;
  width: 1280px;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 418px;
  min-height: 456px;
  margin: 52px auto 0 221px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 76px;
}

.u-section-1 .u-shape-1 {
  width: 317px;
  height: 317px;
  margin: -33px auto 0 20px;
}

.u-section-1 .u-group-3 {
  width: 511px;
  min-height: 400px;
  margin: -396px 129px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 0 20px 0 30px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-decoration: underline !important;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 122px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
} .u-section-2 {
  min-height: 100vh;
}

.u-section-2 .u-group-1 {
  width: 389px;
  min-height: 69px;
  margin: 65px auto 0 calc(((100% - 1280px) / 2) + 75px);
}

.u-section-2 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  --animation-custom_in-translate_x: -20px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-group-2 {
  width: 936px;
  min-height: 450px;
  background-image: none;
  animation-timing-function: ease;
  margin: -4px auto 0 calc(((100% - 1280px) / 2) + 75px);
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  line-height: 1.4;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 15px 0 0;
}

.u-section-2 .u-btn-2 {
  font-weight: normal;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-line-1 {
  left: 83px;
  top: 0;
  position: absolute;
  transform-origin: center top 0px;
}

.u-section-2 .u-image-1 {
  width: 505px;
  min-height: 425px;
  background-image: url("/images/IMG_2582opti.jpg");
  margin: -26px calc(((100% - 1280px) / 2) + 135px) 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  width: 565px;
  min-height: 489px;
  background-image: none;
  animation-timing-function: ease;
  margin: -425px auto 0 calc(((100% - 1280px) / 2) + 75px);
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-text-3 {
  margin: -1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
  }

  .u-section-2 .u-group-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 1;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-2 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-btn-2 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-line-1 {
    left: 0;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-group-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 1;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-2 .u-group-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-group-4 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-2 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-group-4 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-113:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-118:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-122:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-126:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-160:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-179:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-187:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-183:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]),
.u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]).u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-ca5d-191:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  min-height: 100vh;
}

.u-section-3 .u-group-1 {
  width: 389px;
  min-height: 69px;
  margin: 65px auto 0 calc(((100% - 1280px) / 2) + 75px);
}

.u-section-3 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-3 .u-text-1 {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  --animation-custom_in-translate_x: -20px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 30px 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-line-1 {
  left: 83px;
  top: 0;
  position: absolute;
  transform-origin: center top 0px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1130px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 246px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1007px;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
  }

  .u-section-3 .u-line-1 {
    left: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 205px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 136px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 136px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 136px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 842px;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 157px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 104px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 104px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 104px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1925px;
  }

  .u-section-3 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 236px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 156px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1323px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 149px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 98px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 98px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 98px;
  }
}

.u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-113:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-118:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-122:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-126:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-160:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-179:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-187:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-183:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]),
.u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]).u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8ad0-191:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  min-height: 100vh;
}

.u-section-4 .u-group-1 {
  width: 389px;
  min-height: 69px;
  margin: 65px auto 0 calc(((100% - 1280px) / 2) + 75px);
}

.u-section-4 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 0;
}

.u-section-4 .u-text-1 {
  font-size: 0.875rem;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  --animation-custom_in-translate_x: -20px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 30px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-group-2 {
  width: 936px;
  min-height: 393px;
  background-image: none;
  animation-timing-function: ease;
  margin: -4px auto 0 calc(((100% - 1280px) / 2) + 75px);
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  line-height: 1.4;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 15px 30px 0;
}

.u-section-4 .u-group-3 {
  width: 800px;
  min-height: 57px;
  margin: 21px auto 0 0;
}

.u-section-4 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  background-image: none;
  border-style: solid;
  font-weight: 500;
  margin: 8px auto 0 36px;
  padding: 8px 27px 8px 26px;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 200px;
  min-width: 120px;
  margin: -36px auto 0 250px;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 0;
}

.u-section-4 .u-icon-6 {
  height: 100%;
}

.u-section-4 .u-line-1 {
  left: 83px;
  top: 0;
  position: absolute;
  transform-origin: center top 0px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-4 .u-btn-1 {
    border-style: solid;
  }

  .u-section-4 .u-group-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 100px;
    --animation-custom_in-opacity: 1;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-left: calc(((100% - 940px) / 2) + 75px);
  }

  .u-section-4 .u-text-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 50px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-line-1 {
    left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-4 .u-group-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2) + 75px);
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-group-3 {
    width: 720px;
  }

  .u-section-4 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-4 .u-group-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2) + 75px);
  }

  .u-section-4 .u-group-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-group-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-group-3 {
    width: 340px;
  }
}

.u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-113:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-118:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-122:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-126:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.05) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-160:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-179:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-187:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-183:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]),
.u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]).u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-container-layout:hover .u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-c3d6-191:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.scroll {
height:480px;
overflow-y: scroll;
}