:root {
  /* https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff */
  --color-gray-light: #F5F3F4;
  --color-gray-medium: #D3D3D3;
  --color-gray-dark: #626060;
  --color-red-light-1: #E5383B;
  --color-red-light-2: #BA181B;
  --color-red-medium: #A4161A;
  --color-red-dark: #660708;
  --color-black-light: #293136;
  --color-black-dark: #0B090A;

  /* custom */
  --color-creme: rgb(234, 232, 207);
  --color-link: rgb(255, 208, 0);
  --color-background-button: #32303a;
  --color-background-light: #3c364e;
  --color-background-dark: #1b1514;
  --gradient-background: linear-gradient(160deg, #3c364e  0%, #1b1514 60%);
  --color-lightgray: #e8e7e7;
}