@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp);
:root {
    --color-gray-dark: #323232;
    --color-gray-mid: #9d9c9c;
    --color-gray-mid-light: #cfcece;
    --color-gray-light: #F5F5F5;
    --color-olive-light: #6A8C82;
}
* {
    margin:0;
    padding:0;
    background-color: rgb(255, 255, 255);
}

.ctn-landing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 80%;
    padding: 10%;
}
.ctn-portrait-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;
}
.ctn-portrait {
    width: 170px;
    height: 170px;  
    overflow: hidden;
    border-radius: 30px;
}

.portrait {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Inter;
    font-size: 30px;
    letter-spacing: -0.04em;
    width: 850px;
    max-width: 100%;

}
.header-head {
    color: var(--color-gray-dark);
    font-weight: 600;
}
.header-text {
    font-weight: 500;
    color: var(--color-gray-mid);   
}
.ctn-section-1  {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-top: 80px;

}
.ctn-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    align-items: left;
    
}
.ctn-all-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 300px;
    align-items: left;
}
.link-bullet {
    color: var(--color-olive-light);
    font-family: Inter;
    font-weight: 200;
    font-size: 16px;
}
.link-btn {
    border:0;
    font-family: Inter;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    text-align: left;
    text-decoration: underline 0.1px #6A8C82;
    text-underline-offset: 0.1em;
    margin-bottom: 5px;
    color: #323232;
    cursor: pointer;
    transition: color 0.2s;
}
.link-btn:hover {
    color: var(--color-olive-light);
}
.social-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
}
.btn-social {
  background: transparent;
  border: 0;
}
.social_icon {
  width: 25;
  height: 25; 
  fill: var(--color-gray-dark);
  transition: transform 0.2s;
}
.social_icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.ctn-project-subsection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.projects-title {
    font-family: Inter;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -0.04em;
    color: var(--color-gray-mid-light);
    margin-bottom: 20px;
}
.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.project-tile {
    width: 100%;
    aspect-ratio: 1;
    background-color: var(--color-gray-light);
    border-radius: 30px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.04em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.2s;
    overflow: hidden;
    position: relative;

}
.project-tile video {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.text-overlay {
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: auto;
    color: var(--color-gray-light);
    background: transparent;
    padding: 8%;
}
.project-tile:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.note {
    font-family: Inter;
    font-size: 12px;
    color: var(--color-gray-mid);
    text-align: right;
}

.ctn-tweet {
    margin-right: 60px;
    margin-top: 30px;
}

@media screen and (max-width: 1050px) {
    .header {
        font-size: 20px;
    }
    .ctn-portrait-row {
        align-items: center;
    }
    .ctn-section-1 {
        margin-top: 30px;
    }
    .ctn-left {
        justify-content: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    .ctn-left {
        justify-content: flex-start;
    }
    .social-bar {
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
        height: 100px;
        width: fit-content;
    }

    .projects-title {
        margin-top: 50px;
    }
    .projects-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
   

}

@media screen and (max-width: 700px) {
    .ctn-landing {
        width: 94%;
        padding: 3%;
    }
    .ctn-section-1 {
        margin-top: 0;
        flex-direction: column;
    }
    .ctn-tweet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .ctn-left {
        justify-content: flex-start;
        width: 100%;

    }
}



@media screen and (min-width: 1500px) {
    .header {
        font-size: 50px;
        width: 70%;
    }
    .projects-title {
        font-size: 40px;
    }
    .text-overlay {
        font-size: 40px;
    }
}